

html {
overflow-x:hidden;
overflow-y:hidden;
}

a:focus{
	outline: none;
}

.c_all{
	width: 100%;
	height: 100%;
	background-image:url(http://area.sinaapp.com/bingImg/);
}

.analyze{
	width: 180%;
}

.s_div {
  margin:20%;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
}